/* 

Light Orange #ffe7c9 
	  Orange #ff9000
	  Red 	 #c93d3d
Light Red	 #c97474	  
*/

#outside-panel {
	margin-top: 15%;
}
#register-title-panel {
	color:white;
	background-color: #c93d3d;
}
#register-body-panel {
	background-color: #ffe7c9;
}

#register-button {
	background-color: #ff9000;
	border-color: white;
}
