/* 

Light Orange #ffe7c9 
	  Orange #ff9000
	  Red 	 #c93d3d
Light Red	 #c97474	  
*/

#outside-panel {
	margin-top: 10%;
}
#project-title-panel {
	background-color: #c93d3d;
}
#project-title-text {
	color:white;
}
#project-body-panel {
	background-color: #ffe7c9;
}

#see-project-button {
	background-color: #ff9000;
	border-color: white;
}